extends python

snippet dtest "A function snippet for a unittest"
def test_$1(${2:self}):
    ${3:pass}
endsnippet

snippet ctest "A test class snippet"
class $1TestCase(${2:unittest.TestCase}):
    def setUp(self):
	    super($1TestCase, self).setUp()
endsnippet

snippet patcho "A patch object snippet"
self.mock_$1 = ${2:mock.}patch.object(
    $3, '$1', ${5:autospec=True}
).start()
endsnippet
